body,
html {
  padding: 0;
  margin: 0;
  background-color: #206ee1;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.title-text {
  color: #ffa60f;
  font-size: 45px;
  text-align: center;
}
.main-title {
  margin-top: 10px;
  color: #fff;
  font-size: 45px;
  text-align: center;
}
.wrapper {
  position: fixed;
  width: 75%;
  height: calc(100% - 50px);
  margin-top: 10px;
  margin-left: calc(25% / 2);
  text-align: center;
  background: #fff;
  border-radius: 20px;
}
.button-landing {
  color: #fff;
  font-size: 25px;
  background: #ffa60f;
  float: right;
  padding: 10px;
  margin: 10px 15px 10px 10px;
  border-radius: 15%;
  cursor: default;
  transition: 0.4s ease all;
}
.button-landing:hover {
  transform: scale(1.2, 1.2);
}
.button-landing-center {
  color: #fff;
  display: inline-block;
  font-size: 25px;
  background: #ffa60f;
  padding: 10px;
  margin: 10px 15px 10px 10px;
  border-radius: 15%;
  cursor: default;
  transition: 0.4s ease all;
}
.button-landing-center:hover {
  transform: scale(1.2, 1.2);
}
.votes-window {
  position: absolute;
  width: 75%;
  margin-left: 12.5%;
  height: calc(100% - 150px);
  top: 150px;
  overflow-y: scroll;
  border-top: 2px solid #000;
}
.vote {
  position: relative;
  background: #ffa60f;
  width: 75%;
  padding: 20px;
  border: 2px solid #000;
  transition: 0.4s ease all;
  margin: 10px 10px 10px calc(12.5% - 20px);
}
.vote:hover {
  transform: scale(1.2, 1.2);
}
.vote-title {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2em;
  width: 100%;
  height: 100%;
}
.vote-title .text-valign {
  font-size: 1em;
}
.voteThing1 {
  float: left;
  width: 50%;
}
.voteThing2 {
  float: right;
  width: 50%;
}
.vs-title {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
  font-size: 2em;
  transform: translateY(-50%);
}
#screen {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,0.5);
  z-index: 100;
}
#loginWindow {
  position: absolute;
  width: 500px;
  height: 250px;
  top: calc(50% - 125px);
  left: calc(50% - 250px);
  background: #fff;
  border-radius: 15%;
  top: calc(50% * 250px);
  border: 2px solid #000;
}
#loginWindow input {
  display: block;
  width: 250px;
}
#login-exit {
  position: absolute;
  float: left;
  width: 50px;
  height: 50px;
  left: -10px;
  background: #000;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  cursor: default;
  transition: 0.4s ease all;
}
#login-exit:hover {
  transform: scale(1.2, 1.2);
}
.text-valign {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5em;
}
#login-inputs {
  position: relative;
  width: 400px;
  height: 150px;
  top: calc(50% - 75px);
  left: calc(50% - 200px);
}
#login-inputs input {
  width: 200px;
  margin-left: 100px;
}
#welcome {
  position: fixed;
  width: 75%;
  height: 75%;
  top: calc(50% - 37.5%);
  left: calc(50% - 37.5%);
  background: #fff;
}
.new-button {
  position: absolute;
  float: left;
  width: 100px;
  height: 100px;
  left: 1em;
  top: 1em;
  background: #ffa60f;
  border-radius: 50%;
  border: 2px solid #fff;
  text-align: center;
  color: #fff;
  cursor: default;
  transition: 0.4s ease all;
}
.new-button:hover {
  transform: scale(1.2, 1.2);
}
.new-button div {
  transition: 0.4s ease all;
}
.new-button:hover div {
  font-size: 4em;
}
#home {
  font-size: 2em;
  margin-left: 150px;
  margin-top: 50px;
}
.vs {
  font-size: 2em;
  margin-left: 20px;
  margin-right: 20px;
  color: #fff;
}
.vote-form {
  position: absolute;
  width: 500px;
  height: 500px;
  top: calc(50% - 250px);
  left: calc(50% - 250px);
  background: #fff;
  border-radius: 15%;
  top: calc(50% * 500px);
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}
.vote-form input {
  width: 70%;
  height: 30px;
  border-radius: 20px;
  font-size: 30px;
  padding: 5px;
  text-align: center;
}
.vote-form input::-webkit-input-placeholder {
  color: #ffa60f;
  text-align: center;
}
.vote-form input::-moz-placeholder {
  color: #ffa60f;
  text-align: center;
}
.vote-form input::-ms-input-placeholder {
  color: #ffa60f;
  text-align: center;
}
.create-wrapper {
  position: relative;
  width: 400px;
  height: 400px;
  top: 50px;
  left: 50px;
}
.detail-wrapper {
  position: absolute;
  width: 75%;
  height: 90%;
  top: calc(50% - 45%);
  left: calc(50% - 37.5%);
  background: #fff;
  border-radius: 15%;
  top: calc(50% * 90%);
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}
.detail-title {
  position: absolute;
  width: 80%;
  left: 10%;
  height: 18%;
  padding: 1%;
}
.detail-title .title {
  font-size: 1.5em;
}
.detail-title .author {
  font-size: 0.5em;
}
.detail-left {
  position: absolute;
  width: 50%;
  height: 80%;
  top: 20%;
}
.detail-right {
  position: absolute;
  width: 50%;
  height: 80%;
  left: 50%;
  top: 20%;
}
.detail-thing {
  width: 100%;
  height: 50%;
  top: calc(50% - 25%);
  left: calc(50% - 50%);
}
.sort-bar {
  position: relative;
  top: 110px;
  width: 75%;
  left: 12.5%;
}
.sort-inactive {
  color: #ffa60f;
}
.sort-active {
  color: #ffa60f;
  font-size: 1.5em;
}
.current-votes {
  font-size: 0.5em;
}
